[logging]
 default = FILE:/var/lib/krb5kdc/krb5-default.log
 kdc = CONSOLE
 kdc = FILE:/var/lib/krb5kdc/krb5-kdc.log
 admin_server = CONSOLE
 admin_server = FILE:/var/lib/krb5kdc/krb5-admin.log
 
[dbdefaults]
  ldap_kerberos_container_dn = "cn=krbContainer,{{ ldapBaseDN }}"

[libdefaults]
 default_realm = {{ krb5realm|upper() }}
 default_tkt_enctypes = aes256-cts-hmac-sha1-96 aes128-cts-hmac-sha1-96
 default_tgs_enctypes = aes256-cts-hmac-sha1-96 aes128-cts-hmac-sha1-96
 dns_lookup_realm = true
 dns_lookup_kdc = true
 rdns = false
 
[realms]
	{{ krb5realm|upper() }} = {
		kdc = {{ krb5KDCSrv|lower }}
		admin_server = {{ krb5AdminSrv|lower }}
		database_module = openldap_ldapconf
    
	}

[domain_realm]
 .{{ krb5realm|lower }} = {{ krb5realm|upper() }}
{{ krb5realm|lower }} = {{ krb5realm|upper() }}
		
[dbmodules] 
 openldap_ldapconf = {
     db_library = kldap
     disable_last_success = true
     disable_lockout = true
     ldap_kdc_dn = "cn=krb5-kdc,{{ ldapBaseDN }}"
     ldap_kadmind_dn = "cn=krb5-admin,{{ ldapBaseDN }}"
     ldap_servers = ldapi:///
     ldap_service_password_file = /etc/krb5kdc/ldapservice.keyfile
     ldap_conns_per_server = 5
  }
