include         /etc/ldap/schema/core.schema
include         /etc/ldap/schema/cosine.schema
include         /etc/ldap/schema/nis.schema
include         /etc/ldap/schema/inetorgperson.schema
include         /etc/ldap/schema/kerberos.schema

argsfile        /var/run/slapd/slapd.args
pidfile         /var/run/slapd/slapd.pid

sasl-host {{ hostName }}
sasl-realm {{ krb5realm|upper() }}

authz-policy from
authz-regexp
  uid=([^,]*),cn=[^,]*,cn=auth
  uid=$1,ou=users,dc=home,dc=local

access to attrs=userPassword,shadowLastChange
        by dn="cn=krb5-admin,{{ ldapBaseDN }}" write
        by anonymous auth
        by self write
        by * none

access to dn.base="" by * read

access to *
        by dn="cn=krb5-admin,{{ ldapBaseDN }}" write
        by * read

password-hash {CLEARTEXT}
loglevel        16384
modulepath	/usr/lib/ldap
moduleload	back_mdb.la
moduleload	back_ldap.la
sizelimit 500
tool-threads 1

defaultsearchbase "{{ ldapBaseDN }}"

backend         mdb
database        mdb    
directory       "/var/lib/ldap"
suffix          "{{ ldapBaseDN }}" 

lastmod         on

index           objectClass eq
index           uid,uidnumber,gidnumber,cn
index           krb5PrincipalName,krb5PrincipalRealm
checkpoint      512 30
